{% load static %}
<html>

<head>
    <title>Register | Image Steganography</title>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">

    <link rel="stylesheet" href="{% static 'admin/css/nav_sidebar.css' %}">
    <script src="{% static 'admin/js/nav_sidebar.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">

    <style>
        .login .form-row #id_username,
        .login .form-row #id_password,
        #id_password1,
        #id_password2,
        #id_email {
            padding: 8px;
            width: 100%;
            box-sizing: border-box;
        }
    </style>
</head>

<body class="login" data-admin-utc-offset="20700">

    <!-- Container -->
    <div id="container">

        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="/">Register - Image Steganography</a></h1>
            </div>
        </div>
        <!-- END Header -->

        <div class="main" id="main">
            <div class="content">

                <!-- Content -->
                <div id="content" class="colM">

                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="errornote">
                        {{ error }}
                    </p>
                    {% endfor %}
                    {% endif %}

                    <div id="content-main">

                        <form action="." method="post">{% csrf_token %}
                            <div class="form-row">
                                {{ form.username.errors }}
                                {{ form.username.label_tag }} {{ form.username }}
                            </div>
                            <div class="form-row">
                                {{ form.email.errors }}
                                {{ form.email.label_tag }} {{ form.email }}
                            </div>
                            <div class="form-row">
                                {{ form.password1.errors }}
                                {{ form.password1.label_tag }} {{ form.password1 }}
                            </div>
                            <div class="form-row">
                                {{ form.password2.errors }}
                                {{ form.password2.label_tag }} {{ form.password2 }}
                            </div>

                            <div class="password-reset-link">
                                <a href="/user/login/">Alraedy have an account? Login</a>
                            </div>

                            <div class="submit-row">
                                <input type="submit" value="Register">
                            </div>
                        </form>

                    </div>
                </div>
                <!-- END Content -->

                <!-- Footer -->
                <div id="footer"></div>
                <!-- END Footer -->

            </div>
        </div>

    </div>
    <!-- END Container -->

</body>

</html>