asgiref==3.5.1
asttokens==2.1.0
backcall==0.2.0
decorator==5.1.1
Django==4.0.4
django-dotenv==1.4.2
executing==1.2.0
ipython==8.6.0
jedi==0.18.2
matplotlib-inline==0.1.6
numpy==1.22.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
prompt-toolkit==3.0.33
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
Pygments==2.13.0
six==1.16.0
sqlparse==0.4.2
stack-data==0.6.1
traitlets==5.5.0
tzdata==2022.1
wcwidth==0.2.5
