{% load static %}
<html>

<head>
    <title>Registration for Image Steganography</title>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">

    <link rel="stylesheet" href="{% static 'admin/css/nav_sidebar.css' %}">
    <script src="{% static 'admin/js/nav_sidebar.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">

    <style>
        .login .form-row #id_username,
        .login .form-row #id_password,
        #id_password1,
        #id_password2,
        #id_email {
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
        }
    </style>
</head>

<body class="login" data-admin-utc-offset="20700">

    <!-- Container -->
    <div id="container">

        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="/">Error {{ error_code }}</a></h1>
            </div>
        </div>
        <!-- END Header -->

        <div class="main" id="main">
            <div class="content">

                <!-- Content -->
                <div id="content" class="colM">

                    {{ error_msg }}

                </div>
                <!-- END Content -->

                <!-- Footer -->
                <div id="footer"></div>
                <!-- END Footer -->

            </div>
        </div>

    </div>
    <!-- END Container -->

</body>

</html>
